{% extends 'base/base.html' %}
{% block start %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">{% block card_title_public %}{% endblock %}</h2>
                        </div>
                        <div class="card-body">
                            {% block card_body_public %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
