{% extends 'base/base.html' %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">Recipe Name: {{ recipe.name }}</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-text mb-3" style="font-size: larger">
                                <p>When you change something with the recipe, don't forget to refresh the price!</p>
                            </div>
                            <a class="btn btn-md me-1 btn-secondary" href="{% url 'recipe finalise' recipe.id %}">Refresh
                                price</a>
                            <a class="btn btn-md me-1 btn-secondary"
                               href="{% url 'recipe ingredient choose' recipe.id %}">Add
                                Ingredient</a>
                            <a class="btn btn-md me-1 btn-secondary"
                               href="{% url 'recipe increase price percentage' recipe.increasepercentage.id %}">Increase
                                raw
                                price</a>
                            <a class="btn btn-md btn-warning" href="{% url 'recipes list' %}">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-md mb-4">
                    <div class="card text-center text-black  " id="">
                        <div class="card-header">
                            <h5 class="card-title">Raw price</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.price }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  " id="">
                        <div class="card-header">
                            <h5 class="card-title">Increase Percentage</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.increasepercentage.percentage }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black " id="">
                        <div class="card-header">
                            <h5 class="card-title">Price after Increase</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.increased_price }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-md table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Amount in grams/piece</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for ingredient in recipe.recipeingredient_set.all %}
                            <tr>
                                <td>{{ ingredient.ingredient.name }}</td>
                                <td>{{ ingredient.amount }}</td>
                                <td><a class="btn btn-md btn-secondary"
                                       href="{% url 'recipe ingredient edit' ingredient.id %}">Change amount</a></td>
                                <td><a class="btn btn-md btn-warning"
                                       href="{% url 'recipe ingredient delete' ingredient.id %}">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
