{% extends 'base/base.html' %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h1 class="card-title">Cook and Math</h1>
                        </div>
                        <div class="card-body">
                            {% if request.user.is_authenticated %}
                                <a class="btn btn-md btn-secondary" href="{% url 'ingredients list' %}">Ingredients</a>
                                <a class="btn btn-md btn-secondary" href="{% url 'recipes list' %}">Recipes</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center">This week recommended recipes</h3>
        <div class="row row mt-2 row-cols-1 row-cols-md-1 g-4">
            <div class="card-group">
                {% for dessert in desserts %}
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ dessert.name }}</h5>
                            <p class="card-text">{{ dessert.description }}</p>
                            <a href="{% url 'public recipe details' dessert.id %}" class="btn btn-secondary">Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row row mt-2 row-cols-1 row-cols-md-1 g-4">
            <div class="card-group">
                {% for salad in salads %}
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ salad.name }}</h5>
                            <p class="card-text">{{ salad.description }}</p>
                            <a href="{% url 'public recipe details' salad.id %}" class="btn btn-secondary">Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row row mt-2 row-cols-1 row-cols-md-1 g-4">
            <div class="card-group">
                {% for dish in main_dishes %}
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ dish.name }}</h5>
                            <p class="card-text">{{ dish.description }}</p>
                            <a href="{% url 'public recipe details' dish.id %}" class="btn btn-secondary">Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
