{% extends 'base/base.html' %}
{% block start %}
    {% include 'base/messages.html' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h1 class="card-title">Cook and Math</h1>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p style="font-size: x-large; color: darkolivegreen">
                                    This is web application, where you can calculate your recipe's value with ease!<br>No
                                    complicated formulas or subscription fees!
                                    <br>We don't collect any data for you, and you will never see a single add!<br>If
                                    you find any bugs or just have some recommendations, contact us at
                                    cook_and_math_72@gmail.com.<br>
                                    And don't forget: This is just the beginning.<br>
                                    WELCOME!

                                </p>
                            </div>
                            {% if request.user.is_authenticated %}
                                <a class="btn btn-md btn-secondary" href="{% url 'ingredients main' %}">Ingredients</a>
                                <a class="btn btn-md btn-secondary" href="{% url 'recipes main' %}">Recipes</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
