{% extends 'base/base.html' %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">{{ object.name }}</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Ingredients: {{ ingredients }}</p>
                            <p class="card-text">Preparation: {{ object.preparation }}</p>

                            <a class="btn btn-sm btn-warning" href="{% url 'index' %}">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
